# Add more dependencies as needed
python-dotenv==0.19.1
# Node.js/npm dependencies
## Install Node.js and npm: https://nodejs.org/
## Install TypeScript globally
typescript
ts-node 
axios
express
json
http
# Install TypeScript type definitions for Node.js
@types/node

## Note : 
# <!-- install firebase tools  -->
# curl -sL https://firebase.tools | bash  
