<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIElL1Tpnfnl0-frbTU82niyJw-MVfFOw</string>
	<key>GCM_SENDER_ID</key>
	<string>181675201017</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kaleidoscopeCollaborative</string>
	<key>PROJECT_ID</key>
	<string>se-kaleidoscope-collaborative</string>
	<key>STORAGE_BUCKET</key>
	<string>se-kaleidoscope-collaborative.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:181675201017:ios:f64dbe73fada17795d2d28</string>
</dict>
</plist>